*.pyc
.pathena
site.yaml
group.sphenix.test-production-workflow-20230508-135015_runXYZ.filelist.tgz
group.sphenix.test-production-workflow-20230508-135015_runXYZ.filelist.tgz.2647
jwebb2/.rucio_jwebb2
shrek/scripts/DragonApplication.py
.donkey
.donkey_saved
